In [2]:
#variables memory allocation to value
name="vikas"
age=26
salary=100000
print(name)
print(salary)

vikas
100000

In [4]:
#data types
#1.int 2.string 3.float
a=1200
b="1200"
c=1200.00
print(type(a))
print(type(b))
print(type(c))
print(a,b,c)

<class 'int'>
<class 'str'>
<class 'float'>
1200 1200 1200.0

In [5]:
#operators - arithematic,assignment,comparison,logical,membership,identity
a=100
b=200
print(a+b)
print(a-b)
print(a*b)
print(b/a)
print(a//b)

300
-100
20000
2.0
0

In [6]:
#assignment operators
a=100
a=a+200#a=100+200
print(a)

300

In [7]:
a=100
a+-200
print(a)

100

In [8]:
a=200
a-=500
print(a)

-300

In [10]:
#comparison
a=100
b==200
c=200
print(a>b)
print(a>=b)
print(b>=c)

False
False
True